* {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  font-family: 'Karla', sans-serif;
  color: white;
  background-color: #333;
  font-size: 16px;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.nav {
  height: 40px;
  font-size: 20px;
  padding: 8px;
  margin: 0px;
  border: 0px;
  position: fixed;
  top: 0;
  background-color: #222;
  width: 100%;
  min-width: inherit;
  z-index: 100;
}
.navlogo {
  float: left;
}
.navname {
  font-size: 22px;
  font-weight: 700;
}
.navbutton {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}
.navlogo a:link, .navlogo a:visited {
  text-decoration: none;
  color: white;
}
.navlogo a:hover {
  text-decoration: none;
  color: #FAA;
}
.navlogo a:active {
  text-decoration: none;
  color: #F55;
}
.navbutton a:link, .navbutton a:visited {
  text-decoration: none;
  color: white;
}
.navbutton a:hover {
  text-decoration: none;
  color: #FAA;
}
.navbutton a:active {
  text-decoration: none;
  color: #FAA;
}
.highlightbox {
  padding-top: 40px;
  padding-bottom: 20px;
  display: table;
  width: 100%;
  min-height: 300px;
  height: 60vh;
  background-color: #F55;
}
.highlightmiddle {
  display: table-cell;
  vertical-align: middle;
}
.highlight {
  margin: auto;
  min-width: 288px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #222;
}
.highlight .more {
  background-color: #222;
  margin: 10px;
}
.content {
  margin: auto;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color:
}
.content a:link, .content a:visited, .footer a:link, .footer a:visited {
  color: #FAA;
}
.content a:hover, .footer a:hover {
  background-color: #444;
  color: #FAA;
}
.content a:active, .footer a:active {
  background-color: #444;
  color: #F55;
}
.more {
  float: right;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}
.more a:link, .more a:visited {
  color: #F55;
  text-decoration: none;
}
.more a:hover {
  background-color: #444;
  color: #F55;
  text-decoration: none;
}
.more a:active {
  background-color: #444;
  color: #F22;
  text-decoration: none;
}
.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 40px;
  position: absolute;
  bottom: 0;
  background-color: #222;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (min-width: 900px) {
  .block3 {
    float: left;
    width: 33.33%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .highlight {
    width: 50%;
    min-width: 630px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .block3 {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .highlight {
    width: 70%;
    min-width: 540px;
  }
}
@media screen and (max-width: 600px) {
  .block3 {
    float: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navname {
    display: none;
  }
  .navbutton {
    font-size: 18px;
  }
  .highlight {
    width: 90%;
    min-width: 288px;
    font-size: 18px;
  }
}
::selection {
  background-color: #AAA;
}
::-moz-selection {
  background-color: #AAA;
}
