* {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  font-family: 'Inconsolata', monospace;
  color: white;
  background-color: #000;
  font-size: 14px;
  padding: 20px;
  border: 0px;
  margin: 0px;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (min-height: 500px) and (min-width: 600px) {
  .content {
    padding-left: 225px;
    margin-top: calc(50vh - 200px);
    width: 100%;
  }
  .navbar {
    margin-left: 20px;
    margin-right: 20px;
    width: 180px;
    height: 400px;
    text-align: right;
  }
  .navbar-container {
    display: table;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: inherit;
    overflow-x: hidden;
    width: 260px;
    overflow: auto;
  }
  .inner-container {
    width: 70%;
    min-width: 600px;
    margin: auto;
  }
  #backhome {
    display: none;
  }
}
@media screen and (max-height: 499px) and (min-width: 600px) {
  .content {
    padding-left: 225px;
    margin-top: auto;
    width: 100%;
  }
  .navbar {
    margin-left: 20px;
    margin-right: 20px;
    width: 180px;
    text-align: right;
  }
  .navbar-container {
    display: table;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: inherit;
    overflow-x: hidden;
    width: 260px;
    overflow: auto;
  }
  .inner-container {
    width: 70%;
    min-width: 600px;
    margin: auto;
  }
  #backhome {
    display: none;
  }
}
@media screen and (max-width: 599px) {
  .content {
    padding: auto;
    margin-top: auto;
    width: 100%;
  }
  .navbar {
    display: none;
  }
  .navbar-container {
    display: none;
  }
  .inner-container {
    width: 100%;
    padding: 20px;
  }
}
.centered-content {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 300px;
}
h1 {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
}
h2 {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 400;
}
h3 {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
a:link, a:visited {
  color: #FAA;
  text-decoration: none;
}
a:hover {
  background-color: #222;
  text-decoration: none;
  color: #FAA;
}
a:active {
  background-color: #222;
  text-decoration: none;
  color: #F55;
}
.more a:link, .more a:visited, .back a:link, .back a:visited {
  color: #F55;
  text-decoration: none;
  background-color: inherit;
}
.more a:hover, .back a:hover {
  color: #F55;
  text-decoration: none;
  background-color: inherit;
  font-weight: 700;
}
.more a:active, .back a:active {
  color: #F22;
  text-decoration: none;
  background-color: inherit;
  font-weight: 700;
}
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
  color: #FFF;
  text-decoration: none;
  background-color: inherit;
}
#backhome a {
  text-decoration: underline;
}
table {
  width: 100%;
  table-layout: fixed
}
td {
  vertical-align: bottom;
}
.block2 {
  float: left;
  width: 50%;
  min-width: 250px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-button {
  width: 50%;
  float: left;
}
